body{
    background:#24243c;
    color:#fff;
}

.navbar{
    border-bottom:#f2ac34 3px solid;
    opacity: 0.95;
}

#home-section{
    background:url(../img/turkey.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 800px;
}

#home-section .dark-overlay{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    min-height: 800px;
    background: rgba(0,0,0,0.7);
}

#home-section .home-inner{
    padding-top:120px;
}

#home-section .card-form{
    opacity: 0.9;
}

#home-section .far{
    color:#f2ac34;
}